.telco-section {
    background-color: white;
    height: 100vh; 
}

section {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('/assets/images/wave/page-wave.svg') !important; 
    transform: scaleX(-1);   
}