.telco-section {
    background-color: white;
    height: 100vh;
    /* background-image: url('../assets/images/wave/page-wave.svg'); */
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom;
    border: 2px solid black;
    transform: scaleX(-1);
}

/* background-image: url('https://10-andrei.github.io/ATM-prepaid-UI/assets/images/wave/page-wave.svg');
 */
section {
    background-image: url('../../assets/images/wave/page-wave.svg');
}